.custom-tooltip {
  position: relative;
  display: inline-flex;
}

.custom-tooltip__content {
  max-width: 300px; /* width: 100%; */
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 100%;
  min-width: 100px;
  transform: translateX(-50%);
  margin-bottom: 8px;
  pointer-events: none;
  z-index: 100;
}

.custom-tooltip__bubble {
  position: relative;
  padding: 4px 10px;
  border-radius: 6px;
  background-color: #fa8b64;
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 8px 16px rgba(17, 24, 39, 0.25);
  line-height: 1.2;
}

.custom-tooltip__arrow {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-width: 6px 6px 0 6px;
  border-style: solid;
  border-color: #fa8b64 transparent transparent transparent;
}

[data-tooltip-direction="down"] .custom-tooltip__content {
  top: 100% !important;
  bottom: auto !important;
  margin-top: 8px !important;
}

[data-tooltip-direction="down"] .custom-tooltip__arrow {
  top: -6px !important;
  bottom: auto !important;
  transform: rotate(180deg) !important;
}

[data-tooltip-broad="true"] .custom-tooltip__content {
  top: 100% !important;
  bottom: auto !important;
  margin-top: 8px !important;
  min-width: 200px !important; /* Adjust width as needed */
  max-width: 300px !important;
  width: fit-content !important;
  white-space: normal !important;
}

[data-tooltip-broad="true"] .custom-tooltip__arrow {
  top: -6px !important;
  bottom: auto !important;
  transform: rotate(180deg) !important;
}

[data-tooltip-broad="true"] .custom-tooltip__bubble {
  padding: 8px !important; /* Add more padding */
  text-align: center !important;
}