.business-setup-popup {font-family: "Inter", sans-serif;background: linear-gradient(135deg, #F9FAFB 0%, #FFFFFF 70.71%);border-radius: 1rem;box-shadow: 0 20px 25px -5px rgba(0,0,0, 0.1), 0 8px 10px -6px rgba(0,0,0, 0.1);width: 100%;min-width: 50svw;max-height: 85svh;display: flex;flex-direction: column;overflow: auto;}
.full-video-popup .business-setup-popup{min-width: 65dvw;}
.business-setup-left{position:relative;width:100%;padding:1.25rem;padding-bottom: 0; flex: 1;}
.business-setup-r-head {display:flex;justify-content:space-between;align-items:center;padding:1rem;}
.business-setup-right{width:100%;background:#F9FAFB;border-left:1px solid #E5E7EB;}
.business-setup-r-head h2{font-weight: 700;color: #535258;font-size: 1rem;text-align: center;display: block !important;}
.business-setup-r-head h2 span{padding-left: 0.125rem;display: inline-block;font-weight: 700;}
.business-setup-subtitle{font-size:.75rem;line-height:1rem;color:#535258;font-weight:500;letter-spacing:-.01em;margin-bottom:.5rem;display:inline-block;padding:.25rem .5rem;border-radius:1rem;background:rgba(239,161,134,.2);border:1px solid #E5E7EB}
.business-setup-title{font-size:1.125rem;line-height:1.75rem;font-weight:700;color:#111827;text-align: center;}
.build-your-business-brain{margin-top:1rem;background:rgba(253,212,198,.3);padding:.75rem;border-radius:.5rem;}
.build-your-business-brain p{font-family: "Inter", sans-serif;font-weight: 400;font-size: 14px;line-height: 23px;letter-spacing: -0.5px;text-align: center;color: #535258;}
.business-setup-left p{color:#374151;line-height:1.625;font-size:.875rem;text-align: center;}
.business-setup-video{margin-bottom: 1rem;border-radius: 12px;overflow: hidden;}
.business-setup-video iframe{overflow: hidden;border-radius: 12px;max-width: 100%;width: 100%;}
.business-setup-r-main {display: flex;flex-direction: row;gap: 1.25rem;overflow-x: auto;padding:1rem; padding-top: 0rem;}
.business-setup-r-main p{font-size: 0.75rem;font-weight: 400;color: #818791;margin-bottom: 0.25rem;}        
.business-setup-r-card {cursor: pointer;display: flex;flex-wrap: wrap;align-items: flex-start;gap: 0.5rem;background-color: white;border-radius: 0.75rem;padding: 0.75rem;border: 2px solid #E5E7EB; transition: all 0.33s ease;}
.business-setup-r-card:hover,.business-setup-r-card.active{border: 2px solid #EFA186;background-color: rgba(239, 161, 134, 0.1);}
.business-setup-r-card-ctn{flex: 1;}
.business-setup-r-card-ctn h3{font-size: 0.875rem;font-weight: 600;color: #111827;margin-bottom: 0.125rem;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.business-setup-r-card-ctn p{font-size: 0.75rem;line-height: 1rem;color: #6B7280;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;}
.business-setup-r-inner{display: flex;flex-direction: column;gap: 0.375rem;min-width: 280px;}
.business-setup-r-card img{width: 4rem;border-radius: 0.25rem;max-width: 100%;height: auto;}

.close-btn,.close-btn-mb {cursor: pointer;background-color: #F3F4F6;width: 2rem;height: 2rem;padding: 0.5rem;transition: all 300ms;border-radius: 9999px;display: none;}
.close-btn-mb{display: block !important;position: absolute;top: 16px;right: 16px;left: auto;}
.close-btn:hover,.close-btn-mb:hover {background-color: #E4E4E7;}
.close-btn svg,.close-btn-mb svg{width: 100%;height: 100%;display: block;color: #4B5563;}
.clb-back-btn .business-setup-r-btn{background-color: #CED4DA; color: #000000;padding: 6px 12px;font-size: 14px;border-radius: 0px;cursor: pointer;transition: all 0.33s ease;margin-top: 10px;margin-bottom: 10px;width: 100%; padding: 15px;text-decoration: underline;}
.clb-back-btn .business-setup-r-btn:hover{background-color: #55919a;color: #ffffff;}
.stage-button-container {display: flex;justify-content: center;margin-top: 4px;}
.stage-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    flex-shrink: 0;
  outline: none;
  background-color: #FA8B64;
  height: 2.25rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
}
.stage-button:hover {background-color: #e07a5a;}



@media (min-width:640px){.business-setup-popup{max-height:60svh}
    .business-setup-title{margin-bottom: 0.25rem;text-align: left;}
    .business-setup-left p{text-align: left;}
}
@media (min-width:1024px){.business-setup-popup{max-height:80svh}.business-setup-video{margin-bottom: 1.5rem;}.business-setup-left{padding:1.25rem;}
    .business-setup-r-head h2{font-size: 1.125rem;}
}
@media (min-width:1280px){
    .business-setup-r-head h2 span{display: block;}
    .business-setup-r-main {flex-direction: column;overflow-x: hidden; height: fit-content;}
    .business-setup-popup{min-width:calc(66.666svw - 140px);max-height:85svh;overflow:hidden;flex-direction:row}
    .full-video-popup .business-setup-popup{min-width: 70dvw;}
    .business-setup-right{width:20rem;overflow-y:auto; display: flex;flex-direction: column;}
    .build-your-business-brain{font-size:.875rem;line-height:1.25rem;padding:1rem;border-radius:.75rem}
    .business-setup-r-inner{width: 100%;}
    .close-btn {display: block !important;}
    .close-btn-mb{display: none !important;}
}
@media (min-width:1536px){
    .business-setup-popup{min-width: 64dvw;}
    .full-video-popup .business-setup-popup{min-width: 67dvw;}
    .business-setup-title{font-size:1.5rem;line-height:2rem}
}
@media (min-width: 1600px){
    .business-setup-popup{min-width:80rem;}
    .full-video-popup .business-setup-popup{min-width: 67dvw;}
}


